@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #171736;
    color: white;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header{
    background:#3F3F4A99 ;
}
.header_content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;

}

.nav_list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.nav_link{
    color: azure;
    text-decoration: none;
    font-size: 14px;
}

.btn{
    color: azure;
    text-decoration: none;
    background: #79109D;
    padding:8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    display: inline-block   ;
}

.langSelectorWrp select{
    border-radius: 100px;
}

select option{
    background-color: black;
    color: white;
}


.LogoIMG2{
    margin-top: 30px;
    width: 150px;
    height: auto;
}

.section_ImgBox{
    float: right;
    margin-left: 40px;
}

.title-medium{
    font-weight: bolder;
    font-size:50px;
    line-height:50px;
    font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;;
}

.section_content{
    display: flex;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.text{
    line-height: 70px;
}

.section_folder{
    display: flex;
    list-style: none;
    align-items: center;   
    gap:30px;
}
.avilableList{
    display: flex;
    align-items: center;
    gap: 20px;
}
.avilableItem{
    display: flex;
    align-items: center;
}
.avilable{
    display: flex;
    line-height: 70px;
    gap: 20px;
}

.elipse-decor{
  position: absolute;
  width: 400px;
  height: 400px;
  background: purple;  
  border-radius: 50%;
  right: 20%;
  z-index: -1;
  filter: blur(50px);
}

.page2{
    padding-top: 300px;
    position: relative;
}

.imgfon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgright{
   position: absolute;
    right: 0;
    /* width: 0px; */
}

.imgleft{
    position: absolute;
    left: 0;
}

.text_page3{
    margin-bottom: 25px;
}

.section2Content{
   text-align: center;
   width: 700px;
}

.title{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 15px;
}

.subTitle{
    font-size: 18px;
    text-align: center;
}
.page3{
    margin-top:400px ;
    text-align: center;
}

.container2{
    max-width: 1000px;
    margin: 0 auto;
   
}

.Allcards{
    display: grid;
}

.rowCards{
    display: grid;
    grid-template-columns: 50% 50%;
}

.Title_card{
    padding-top: 15px;
    font-weight: 600;
    font-size: 30px; 
    left: 0;
    text-align: left;
}

.card2{
    border-radius: 10%;
    display: grid;
    padding: 20px 40px;
    width: 490px;
    box-sizing: border-box; 
   
}
.card31{
    background: purple;
    gap: 30px;
    position: relative;
}

.card32{
    background: orange;
    align-items: end;
    position: relative;
}

.ImgBox_card{
    margin-top: 20px;
    margin-left: 10px;
    
}

.integrations{
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
}

.copy{
    color: azure;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.img3{
    position: relative;
    right: -60px;
}

.card3{
    margin-top: 20px;
    height: 500px;
    background: #1f1f4c;
    border-radius: 15px;  
    display: grid; 
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 10% 10% 10% 10% 10% 10% 5%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.Title_card1{
    padding-top: 15px;
    font-weight: 600;
    font-size: 30px; 
    left: 10;
    text-align: left;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row: 2;
    z-index: 1;
}

.ImgBox_card_img4{
    display: grid;
    grid-row-start: 2;
    grid-column-start: 6;
}

.subTitle1{
    display: grid;
    grid-row-start: 2;
    font-size: 18px;
}

.integrations2{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 5;
}

.card4{
    margin-top: 15px;
    background:#393942;
    display: flex;
    position: relative;
    border-radius: 15px;
    height: 525px;
}

.Title_card3{
    padding-top: 140px;
    display: flex;
    font-weight: 600;
    font-size: 40px; 
    flex-direction: column;
    text-align: start;
    padding-left: 20px;
    flex-grow: 1;
    position:absolute;
    z-index: 1;
    width: 80%;
}

.subTitle3{
    font-size: 18px;
    width: 40%;
    margin-top: 15px;
    
}

.card5{
    border-radius: 15px;
    background-color: rgba(55, 55, 245, 0.445);
    margin-top: 15px;
    display: flex;
    position: relative;
}

.ImgBox_card_img5  img{
    width: 85%;
    height: 100%; 
    position: relative;
    padding-left: 150px;
    border-radius: 15px;
}

.ImgBox_card_img5{
    flex-grow: 6;
}

.ImgBox_card_img6{
    width: 85%;
    height: 100%; 
    position: relative;
    left: 245px;
}

.card6{
    margin-top: 130px;
    display: flex;
    position: relative;
    gap: 20px;
}

.block1{
    background:linear-gradient(#373740,#232328);;
    border-radius: 15px;
    width: 100%; 
    font-weight: 500;
    font-size: 30px; 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.subTitle4{
    font-size: 25px;
    margin-top: 5px;
}

.Title4{
    font-weight: 600;
    font-size: 30px;
    margin-top: 10px;
}

.page5{
    margin-top: 160px;
}

.card3{
    display: flex;
    gap: 5%;
    margin-bottom: 60px; 
}
.card_5{
    flex-direction: column;
    width: 100%;
    background-color: #232229;
    height: 450px;
    border-radius: 15px;
    text-align: start;

}

.subshrift{
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 14px;
    padding-left: 15px;
}

.card_5 img{
    width: 100%;
    border-radius: 15px;
}

.title5{
   
    font-size: 30px;
    font-weight: 400;
    padding-left: 15px;
}
.data{
    text-align: left;
    padding-top: 4px;
}

.microtitle{
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    padding-left: 10px;
}

.microtitle5{
    color: #2e2d2d;
    font-size: 14px;
    text-align: center;
    margin-top: 170px;
    font-weight: 300;
}

.Title5{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
}

.subTitle5{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.name{
    display: flex;
}

.name_5{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
}


.card_41{
    background: purple;
    gap: 30px;
    position: relative;
    background: linear-gradient(135deg, rgba(158,12,12,1) 0%, rgba(51,51,51,1) 28%, rgba(51,51,51,1) 28%, rgba(0,92,148,1) 56%, rgba(85,80,87,1) 87%, rgba(91,79,82,1) 100%);
}

.card_42{
    background: orange;
    align-items: end;
    position: relative;
    background: rgb(0,149,107);
    background: linear-gradient(152deg, rgba(0,149,107,1) 0%, rgba(10,2,131,1) 31%, rgba(106,3,231,1) 52%, rgba(180,39,204,1) 80%, rgba(110,111,111,1) 90%);
}

.copy5{
    color: azure;
    display: flex;
    align-items:end;
    
}

.icq{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.imgBox_card_icq{
    padding-bottom: -15px;
}

.imgBox_icon{
    display: flex;
    justify-items: start;
}

.text_start{
    margin-top: 170px;
}

.img_battle{
    width: 100%;
    
}

.card61{
    background: #3F3F4A99;
    height: 500px;
    display: flex;
    margin-bottom: 50px;
    gap: 40px;
    background: rgb(18,18,97);
    background: linear-gradient(153deg, rgba(18,18,97,1) 0%, rgba(75,37,121,1) 27%, rgba(135,32,153,1) 63%, rgba(90,82,210,1) 90%);
    border-radius: 15px;
}

.imgBox_61{
    padding-top: 100px;
    padding-right: 80px;
    width: 80%;
    align-items: end;
}

.Title6{
    font-size: 40px;
    font-weight: 700;
    
}
.text6{
    padding-left: 100px;
    padding-top: 120px;
    align-items: start;
    width: 50%;
    text-align: left;
}

.subTitle6{
    font-size: 25px;
    width: 100%;
    margin-top: 15px;
}

.copy6{
    color: azure;
    display: flex;
    align-items: start;
    margin-top: 475px;
    padding-left: 30px;
    position: absolute;
}

.imgBox_63{
    padding-top: 50px;
    padding-right: 80px;
    width: 60%;
    align-items: end; 
}

.footer{
    background: #232229;
    display: flex;
    height: 600px;


}
.underground_logo{
    padding-right: 60px;
}

.page_final{
    display: flex;
    height: 350px;
    flex-direction: column;
    align-items: center;
}

.Title4.final{
    width: 100%;
    text-align: center;


}

.btn_final{color: azure;
    text-decoration: none;
    background: #79109D;
    padding:8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    display: inline-block ;
    margin-top: 20px;
}

.underground_text{
    display: flex;
    gap: 100px;
    justify-content: center;
   width: 100%;
   line-height: 40px;
}

.Footer_card{
    color: #5a5959;
    font-size: 18px;
    text-align: center;
    font-weight: 300; 
    text-align: left;
}

.final_page{
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    position: absolute;
    margin-right: 800px;
    margin-top: 550px;
    
}
